Repository rudironsoni/dotnet-harness-toolkit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint-cli2 --fix, shellcheck

fix: handle legacy submodule path in distribution sync
  .github/workflows/update-distribution.yml
Due: prettier --write

fix: fetch source sha in distribution submodule sync
  .github/workflows/update-distribution.yml
Due: prettier --write

fix: add TOON and agentsmd spellings
  .cspell.json
Due: prettier --write

fix: tolerate distribution push permission failures
  .github/workflows/update-distribution.yml
Due: prettier --write

fix: require token access for distribution sync
  .github/workflows/update-distribution.yml
Due: prettier --write

fix: enforce strict semver release versions
  .github/workflows/build-and-release.yml
Due: prettier --write

fix: compare against previous semver tag in plugin changelog
  .github/workflows/build-and-release.yml
Due: prettier --write

chore: run rulesync validation on all main pushes
  .github/workflows/rulesync-validate.yml
Due: prettier --write

feat: add three new skills (serena, deep-research, dotnet-10-csharp-14) with full sibling files
  .rulesync/skills/deep-research/SKILL.md
  .rulesync/skills/deep-research/design.md
  .rulesync/skills/deep-research/query-analyzer-prompt.md
  .rulesync/skills/deep-research/research-agent-prompt.md
  .rulesync/skills/deep-research/synthesizer-prompt.md
  .rulesync/skills/dotnet-10-csharp-14/SKILL.md
  .rulesync/skills/dotnet-10-csharp-14/anti-patterns.md
  .rulesync/skills/dotnet-10-csharp-14/csharp-14.md
  .rulesync/skills/dotnet-10-csharp-14/infrastructure.md
  .rulesync/skills/dotnet-10-csharp-14/libraries.md
  .rulesync/skills/dotnet-10-csharp-14/minimal-apis.md
  .rulesync/skills/dotnet-10-csharp-14/security.md
  .rulesync/skills/dotnet-10-csharp-14/testing.md
  .rulesync/skills/serena/SKILL.md
Due: prettier --write, markdownlint-cli2 --fix

feat: add Microsoft Learn MCP skill
  .rulesync/skills/microsoft-learn-mcp/SKILL.md
Due: prettier --write, markdownlint-cli2 --fix

feat: add deep-wiki plugin with proper frontmatter and set dotnet-architect as opencode principal
  .rulesync/agents/wiki-architect.md
  .rulesync/agents/wiki-researcher.md
  .rulesync/agents/wiki-writer.md
  .rulesync/commands/deep-wiki-ado.md
  .rulesync/commands/deep-wiki-agents.md
  .rulesync/commands/deep-wiki-ask.md
  .rulesync/commands/deep-wiki-build.md
  .rulesync/commands/deep-wiki-catalogue.md
  .rulesync/commands/deep-wiki-changelog.md
  .rulesync/commands/deep-wiki-crisp.md
  .rulesync/commands/deep-wiki-deploy.md
  .rulesync/commands/deep-wiki-generate.md
  .rulesync/commands/deep-wiki-llms.md
  .rulesync/commands/deep-wiki-onboard.md
  .rulesync/commands/deep-wiki-page.md
  .rulesync/commands/deep-wiki-research.md
  .rulesync/skills/deep-wiki/README.md
Due: prettier --write, markdownlint-cli2 --fix

fix: add missing deep-wiki SKILL.md
  .rulesync/skills/deep-wiki/SKILL.md
Due: prettier --write, markdownlint-cli2 --fix

fix: set dotnet-architect opencode visibility to non-hidden
  .rulesync/subagents/dotnet-architect.md
Due: prettier --write, markdownlint-cli2 --fix

Replace Semantic Kernel with Microsoft Agent Framework
  .rulesync/skills/dotnet-advisor/SKILL.md
  .rulesync/skills/dotnet-microsoft-agent-framework/SKILL.md
  .rulesync/skills/dotnet-semantic-kernel/SKILL.md
  .rulesync/subagents/dotnet-microsoft-agent-framework-specialist.md
Due: prettier --write, markdownlint-cli2 --fix

Fix missing targets field in frontmatter
  .rulesync/commands/deep-wiki-ado.md
  .rulesync/commands/deep-wiki-agents.md
  .rulesync/commands/deep-wiki-ask.md
  .rulesync/commands/deep-wiki-build.md
  .rulesync/commands/deep-wiki-catalogue.md
  .rulesync/commands/deep-wiki-changelog.md
  .rulesync/commands/deep-wiki-crisp.md
  .rulesync/commands/deep-wiki-deploy.md
  .rulesync/commands/deep-wiki-generate.md
  .rulesync/commands/deep-wiki-llms.md
  .rulesync/commands/deep-wiki-onboard.md
  .rulesync/commands/deep-wiki-page.md
  .rulesync/commands/deep-wiki-research.md
  .rulesync/skills/deep-research/SKILL.md
  .rulesync/skills/dotnet-10-csharp-14/SKILL.md
  .rulesync/skills/serena/SKILL.md
Due: prettier --write, markdownlint-cli2 --fix

Phase 1: Foundation & Quick Wins
  .rulesync/commands/dotnet-harness-compare.md
  .rulesync/commands/dotnet-harness-graph.md
  .rulesync/commands/dotnet-harness-profile.md
  .rulesync/commands/dotnet-harness-search.md
  .rulesync/commands/dotnet-harness-test.md
  .rulesync/scripts/update-skill-tags.js
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

Fix invalid skill references in commands
  .rulesync/commands/dotnet-harness-graph.md
  .rulesync/commands/dotnet-harness-profile.md
Due: prettier --write, markdownlint-cli2 --fix

Phase 2.2: MCP Health & Discovery
  .rulesync/hooks.json
  .rulesync/skills/dotnet-advisor/SKILL.md
  .rulesync/skills/mcp-discovery/SKILL.md
  .rulesync/skills/mcp-health/SKILL.md
Due: prettier --write, markdownlint-cli2 --fix

Phase 3.1: Skill Recommendation Engine
  .rulesync/scripts/build-manifest.js
  .rulesync/skills/dotnet-advisor/SKILL.md
  .rulesync/skills/dotnet-harness-recommender/SKILL.md
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

Phase 3.2-3.4: Semantic Search, Offline Mode & Testing Framework
  .rulesync/skills/dotnet-advisor/SKILL.md
Due: prettier --write, markdownlint-cli2 --fix

Phase 5: Documentation Portal & Release v2.0.0
  RELEASE_NOTES.md
  docs/.gitignore
  docs/.vitepress/config.mjs
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.js
  docs/api/index.md
  docs/guide/index.md
  docs/guide/installation.md
  docs/index.md
  docs/package.json
  docs/skills/index.md
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

Fix Prettier formatting in docs
  docs/.vitepress/config.mjs
  docs/.vitepress/theme/custom.css
Due: none

Fix README.md empty code blocks and add language specifiers
  .rulesync/scripts/build-manifest.js
  README.md
Due: eslint --fix, prettier --write, markdownlint-cli2 --fix

Phase 1: Add Serena MCP tools to all 15 subagents
  .rulesync/subagents/dotnet-architect.md
  .rulesync/subagents/dotnet-aspnetcore-specialist.md
  .rulesync/subagents/dotnet-async-performance-specialist.md
  .rulesync/subagents/dotnet-benchmark-designer.md
  .rulesync/subagents/dotnet-blazor-specialist.md
  .rulesync/subagents/dotnet-cloud-specialist.md
  .rulesync/subagents/dotnet-code-review-agent.md
  .rulesync/subagents/dotnet-csharp-concurrency-specialist.md
  .rulesync/subagents/dotnet-docs-generator.md
  .rulesync/subagents/dotnet-maui-specialist.md
  .rulesync/subagents/dotnet-microsoft-agent-framework-specialist.md
  .rulesync/subagents/dotnet-performance-analyst.md
  .rulesync/subagents/dotnet-security-reviewer.md
  .rulesync/subagents/dotnet-testing-specialist.md
  .rulesync/subagents/dotnet-uno-specialist.md
Due: prettier --write, markdownlint-cli2 --fix

Remove update-distribution.yml workflow
  .github/workflows/update-distribution.yml
Due: prettier --write

Restore update-distribution.yml workflow
  .github/workflows/update-distribution.yml
Due: prettier --write

Fix profile mismatches in subagents
  .rulesync/subagents/dotnet-architect.md
  .rulesync/subagents/dotnet-aspnetcore-specialist.md
  .rulesync/subagents/dotnet-async-performance-specialist.md
  .rulesync/subagents/dotnet-benchmark-designer.md
  .rulesync/subagents/dotnet-blazor-specialist.md
  .rulesync/subagents/dotnet-cloud-specialist.md
  .rulesync/subagents/dotnet-code-review-agent.md
  .rulesync/subagents/dotnet-csharp-concurrency-specialist.md
  .rulesync/subagents/dotnet-docs-generator.md
  .rulesync/subagents/dotnet-maui-specialist.md
  .rulesync/subagents/dotnet-microsoft-agent-framework-specialist.md
  .rulesync/subagents/dotnet-performance-analyst.md
  .rulesync/subagents/dotnet-security-reviewer.md
  .rulesync/subagents/dotnet-testing-specialist.md
  .rulesync/subagents/dotnet-uno-specialist.md
Due: prettier --write, markdownlint-cli2 --fix

Restore Write/Edit capabilities to all 15 subagents
  .rulesync/subagents/dotnet-architect.md
  .rulesync/subagents/dotnet-aspnetcore-specialist.md
  .rulesync/subagents/dotnet-async-performance-specialist.md
  .rulesync/subagents/dotnet-benchmark-designer.md
  .rulesync/subagents/dotnet-blazor-specialist.md
  .rulesync/subagents/dotnet-cloud-specialist.md
  .rulesync/subagents/dotnet-code-review-agent.md
  .rulesync/subagents/dotnet-csharp-concurrency-specialist.md
  .rulesync/subagents/dotnet-maui-specialist.md
  .rulesync/subagents/dotnet-microsoft-agent-framework-specialist.md
  .rulesync/subagents/dotnet-performance-analyst.md
  .rulesync/subagents/dotnet-security-reviewer.md
  .rulesync/subagents/dotnet-testing-specialist.md
  .rulesync/subagents/dotnet-uno-specialist.md
Due: prettier --write, markdownlint-cli2 --fix

fix(agents): correct tool permissions and opencode mode for dotnet-architect and dotnet-security-reviewer
  .rulesync/subagents/dotnet-architect.md
  .rulesync/subagents/dotnet-security-reviewer.md
Due: prettier --write, markdownlint-cli2 --fix

Update GitHub MCP to use GitHub Copilot remote endpoint
  .rulesync/mcp.json
  .rulesync/skills/dotnet-advisor/SKILL.md
  .rulesync/skills/github/SKILL.md
  .rulesync/skills/mcp-discovery/SKILL.md
  .rulesync/skills/mcp-health/SKILL.md
Due: prettier --write, markdownlint-cli2 --fix

Use generic http type for context7 MCP instead of remote
  .rulesync/mcp.json
  .rulesync/skills/mcp-health/SKILL.md
  .rulesync/skills/rulesync/file-formats.md
Due: prettier --write, markdownlint-cli2 --fix

Convert GitHub Actions from SHA pins to floating tags
  .github/workflows/build-and-release.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint.yml
  .github/workflows/rulesync-validate.yml
  .github/workflows/update-distribution.yml
Due: prettier --write

refactor: rename release-please to release-management and inline changelog
  .github/workflows/build-and-release.yml
  .github/workflows/release-management.yml
  scripts/build/generate-changelog.sh
Due: prettier --write, shellcheck

revert: remove redundant release-management workflow
  .github/workflows/release-management.yml
Due: prettier --write

docs: add Phase 3 integration documentation
  docs/INTEGRATION_GUIDE.md
  docs/MCP_ERROR_HANDLING.md
Due: prettier --write, markdownlint-cli2 --fix

fix: add cspell dictionary terms for MCP docs
  .cspell.json
Due: prettier --write

feat(ci): auto-tag merged PRs to trigger releases (#24)
  .github/workflows/tag-on-pr-merge.yml
Due: prettier --write

fix(ci): dispatch release workflow after auto-tag
  .github/workflows/tag-on-pr-merge.yml
Due: prettier --write

fix(ci): dispatch release workflow after auto-tag (#26)
  .github/workflows/tag-on-pr-merge.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --write: ((any of: *.{js,ts}) or (any of: *.{json,jsonc,yml,yaml})) or (any of: *.md)
  markdownlint-cli2 --fix: any of: *.md
  shellcheck: any of: *.sh
